<header class="site-header" role="banner" id="site-header">

    <div class="site-header-inner">

        <div id="titre" class="element-header-line1">
            <div class="project-name">
                <a id="returnskills" href="/#/home">ReturnSkills</a>
            </div>
            <div class="title-by">by </div>
            <div class="container-logo">
                <a href="https://www.modisfrance.fr/" target="blank">
                    <img class="logo" src="assets/logo/modis-logo.png?">
                </a>
            </div>
        </div>

        <div class="element-header-line1">
        </div>

        <div class="element-header-line1">
            <a href="/#/home">
                <fa id="home" name="home" size="2x"></fa>
            </a>
        </div>
    </div>
</header>
<div class="behind-element"></div>