header{
  background: #373A36;

  height : 50px;
  line-height: 25px;

  text-align: left;

  padding: 20px 0;
  font-size: 30px;
  border-bottom: 2px solid #eee;

 /* position: fixed;
  z-index: 1000;*/
}

.logo{
  height: 30px;
}
.logo-returnskill{
  height: 40px;
}


.site-header-inner{
  display : flex;
  align-items: center;
}


