<!--<form (submit)="loginUser($event)">
  <div class="input">
    <label>Username</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password">
  </div>
  <div class="input">
    <input type="submit" value="Login">
  </div>
</form>-->
<div class="container-header">
    <div class="title1-modis  text-white">Connexion</div>
    <div class="container-logo">
      <a href="https://www.modisfrance.fr/" target="blank">
        <img class="logo" src="../../../../../assets/logo/modis-logo.png?">
      </a>
    </div>
  </div>
<div class="example-container">
  
  <mat-form-field (submit)="loginUser($event)" >
    <input class="input" matInput placeholder="Entrer votre email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
<br>
<mat-form-field>
  <input class="input" matInput placeholder="mot de passe" required>
</mat-form-field><br>
<button class="button" type="submit" value="Login">Login</button>
</div>

