.mat-card{
  width: 250px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


.button {
  background:linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
}









