.mat-card{
  width: 250px;
 
}

.title1-modis{
  font-weight: 600;
  padding-left: 5px;
}
.example-container {
  display: flex;
  flex-direction: column;
 padding: 0;
  
}
.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #373A36;
  padding: 7px;
}


.example-container > * {
  width: 100%;
  padding-top: 30px;
  
}

.logo{
  height: 30px;
}

.button {
  background:linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: none;
  color: white;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin-top: 45px;
}









