<mat-card class="card mat-elevation-z8">

  <mat-card-header>
    <div mat-card-avatar class="card-header-image">
      <fa name="graduation-cap" size="2x"></fa>
    </div>
    <mat-card-title>Formation</mat-card-title>


  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-content>


    <div class="forms-container">
      <div>
        <mat-radio-group [(ngModel)]="trainingType">
          <mat-radio-button value="1" matTooltip="formation du cursus scolaire" checked="true">formation initiale</mat-radio-button>
          <mat-radio-button value="2" matTooltip="formation durant l'activité professionnelle">formation continue</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <div *ngIf="trainingType == 2">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Date de commencement">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Date de fin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div *ngIf="trainingType == 1">
          <mat-form-field>
            <input matInput placeholder="Année" type="year" maxlength="4">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field>
        <input matInput placeholder="Formation suivie" matTooltip="Dénomination libre">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Détail (facultatif - exemple :  délivré par le centre de formation xxxx)" matTooltip="Description libre"
          matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10" #input maxlength="400"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/400</mat-hint>
      </mat-form-field>

      <div class="data">

        <div class="elementData" *ngIf="studyLevelList">
          <mat-form-field>
            <input type="text" placeholder="Niveau d'étude de la formation" aria-label="Niveau d'étude" matInput [formControl]="studyLevelControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let studyLevel of filteredStudyLevel | async" [value]="studyLevel.levelDescription">
                {{ studyLevel.levelDescription}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>



        <div *ngIf="filteredTrainingArea">
          <mat-form-field>
            <input type="text" placeholder="Domaine de formation" aria-label="Domaine" matInput [formControl]="trainingAreaControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let trainingArea of filteredTrainingArea | async" [value]="trainingArea.areaDescription">
                {{ trainingArea.areaDescription}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

      </div>

      
    </div>


  </mat-card-content>



  <mat-card-actions>
    <button mat-button color="primary" (click)="update();">VALIDER</button>
    <button mat-button (click)="getUserById();">ANNULER</button>
  </mat-card-actions>
</mat-card>