<mat-card-header>
    <div>Validation avant suppression</div>
    <br>
    <br>
</mat-card-header>

<mat-card-content>
    <form (ngSubmit)="onSubmit()">
        
        <div>{{data.message}}</div>

        <div class="actions">
            <button mat-button type="submit" color="primary" [mat-dialog-close]="data.user" cdkFocusInitial>Supprimer</button>
            <button mat-button type="button" color="primary" (click)="onCancel()">Annuler</button>
        </div>

    </form>
</mat-card-content>