.gt-container {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    margin : 20px;
  }

  .element:nth-child(1){
    flex : 1;

}

  
  .gt-header {
    min-height: 64px;
    padding: 8px 24px 0;
    background: #ecc0c0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-cell{
    height: 30px;
    line-height: 30px;
  }
  .cell:hover{
    background-color: gold;
  }

  .matHeaderRow:hover {
    background-color : rgb(240, 188, 188);
  }

  .spinner{
    display: flex;
    justify-content: center
  }

  .mat-icon-button{
    width: 30px;
    height: 30px;
  }