



<div *ngIf="true" class="gt-container element">
    <app-async-observable></app-async-observable>
  
  <mat-card-content class="title2-modis mat-elevation-z8">{{titleTable}}</mat-card-content>
  
  <div *ngIf="searchBarVisible">
    <div ChangeColor mycolor="#F9F2A4" (result)="truc($event)" class="gt-header mat-elevation-z8">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8 element">
    <div *ngIf="!isData" class="spinner">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="isData">

      <mat-table [dataSource]="dataSource" matSort>


        <!-- field table -->
        <ng-container *ngFor="let column of displayColumns" matColumnDef={{column.nameProperty}}>
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.nameTitle}} </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element[column.nameProperty]}}
          </mat-cell>

        </ng-container>

        <!-- column actions -->
        <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef>
            <button *ngFor="let action of actionsHeader" mat-icon-button color="primary" (click)="action.control()">
              <fa name={{action.icon}} size="2x"></fa>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let element">
            <button *ngFor="let action of actionsRow" mat-icon-button color="primary" (click)="action.control(element)">
              <fa name={{action.icon}} size="1x"></fa>
            </button>
          </mat-cell>

        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumnsAndActions" class="matHeaderRow"></mat-header-row>
        <mat-row class="cell" *matRowDef="let row; columns: displayedColumnsAndActions;">

        </mat-row>

      </mat-table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

