/* MADE BY HERVE LE GALLOU / TEMPORARY */

/* GLOBAL */

.container .contentRight .stickyMEA .btn--neutre { /* Duplicata*/
    border-bottom: 1px solid #373a36;
    color: #373a36;
}

.icon-list .fa {
    padding: 0 5px;
    color: #ffb81c;
}

.panel--body .SolutionsBandeau .col-md-9 {
    padding: 8em 15px 0 0; /* surcharge custom 1 */
}

#body_2_spotlightContainer .PageInt .panel--body {
    padding-top: 0; /* surcharge custom 1 */
}

#getFixed {
    /*float: right;*/
}

.container .contentRight .stickyMEA .MEACandidature {
    margin-top: 0;
}

/* HOME */

.home-search h1 {
    color: #373a36;
}

.home-search .home-search-container {
    margin: 6rem 0 4rem 0;
    width: 100%;
}

.guidance {
    padding: 75px 15px;
}

.guidance .article-thumb {
    border: none;
    border-radius: 0; /* surcharge custom 1 */
    padding: 2px;
}

.guidance .article-thumb .Home-Solutions p {
    font-size: 115%;
}

.HomeRecrute .container {
    padding: 50px 15px;
    margin: 0px auto;
}

.guidance .article-thumb .Home-Metiers p {
    margin: 0;
    padding: 10px;
    font-weight: 500;
    background-color: rgba(255, 184, 28, 0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #FFF;
    font-size: 115%;
    transition: all 0.25s ease-in;
}

.guidance .article-thumb a:hover .Home-Metiers p {
    margin: -25px -15px;
    background-color: #ffb81c;
}

.metiers-wrapper {
    background-color: #394448;
}

.metiers-wrapper h2 {
    color: #FFF;
}

.Home-Metiers {
    position: relative;
}

#WelcomePopup {
    background-color: rgba(0, 0, 0, 0.25);
}

.solutions-wrapper i {
    font-size: 60px;
}

.guidance .article-thumb .Home-Solutions p {
    margin: 0;
}

.guidance .article-thumb img {
    transition: opacity 100ms ease-in;
}

.guidance .article-thumb a:hover img {
    opacity: 0.5;
}

.panel .SectionAproposHome .txtPropospetit {
    color: #333;
}

.panel .SectionAproposHome .txtProposGros {
    margin: 30px 0;
}

/* INGE */

.spotlight-container .CatEngineering .container .contentLeft .col-sm-12 {
    border-bottom: 2px solid #8a75d1;
    border-top: none; /* surcharge custom 1 */
}

.container .contentLeft .contentSScat td p.flecheSScat { /* Duplicata*/
    font-size: 22px; /* surcharge custom 1 */
    border: none; /* surcharge custom 1 */
}

.container .contentLeft .btnSScat {
    margin: 5px 0; /* surcharge custom 1 */
    width: 100%; /* surcharge custom 1 */
    border: 1px solid #ffb81c;
}

.container .contentLeft .btnSScat:HOVER {
    animation: hover .4s forwards linear;
    background-color: #fff;
    background: -webkit-radial-gradient(center, ellipse cover, #ffb81c 0, #ffb81c 65%, white 67%, white 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffb81c 0, #ffb81c 65%, white 67%, white 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ffb81c 0, #ffb81c 65%, white 67%, white 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffb81c 0, #ffb81c 65%, white 67%, white 100%);

    background-size: 140% 500%;
    background-position: center;
    background-repeat: no-repeat;
    transition: color 10ms linear .2s;
}

.container .btnSScat .contentSScat td p {
    transition: border-color 500ms, color 500ms, margin-left 500ms;
}

.container .btnSScat:hover .contentSScat td p {
    border-color: #FFF;
    color: #FFF;
    margin-left: 10px;
}

.panel .SectionApropos a {
    color: #ffffff; /* surcharge custom 1 */
}

.spotlight-container .CatEngineering h3 {
    color: #8a75d1;
}

/* SECTEURS */

.container .contentLeft .SecteursMet p {
    border: 1px solid #00558c;
    padding: 20px 10px;
    min-height: 135px;
}

.container .contentLeft .SecteursMet p:hover, .container .contentLeft .SecteursMet a:hover {
    animation: hover .4s forwards linear;
    background-color: #fff;
    background: -webkit-radial-gradient(center, ellipse cover, #00558c 0, #00558c 65%, white 67%, white 100%);
    background: -ms-radial-gradient(center, ellipse cover, #00558c 0, #00558c 65%, white 67%, white 100%);
    background: -moz-radial-gradient(center, ellipse cover, #00558c 0, #00558c 65%, white 67%, white 100%);
    background: -o-radial-gradient(center, ellipse cover, #00558c 0, #00558c 65%, white 67%, white 100%);
    background-size: 140% 500%;
    background-position: center;
    background-repeat: no-repeat;
    transition: color 10ms linear .2s;
}

.container .contentLeft .SecteursMet a p {
    transition: color 10ms linear .05s;
}

.container .contentLeft .SecteursMet a:HOVER p {
    color: #ffffff;
}

.SecteursMet .col-sm-4 {
    padding: 0 5px;
}

/* MODIS RECRUTE */

.panel .RecruteExpress {
    background-color: #f1f1f1; /* surcharge custom 1 */
}

.panel--body .RecruteExpress p {
    color: inherit; /* surcharge custom 1 */
}

.panel .SectionApropos img {
    max-width: 50px;
}

/* AGENCES */
.container-body .scfForm div[role="form"] {
    padding: 75px 25px;
}

.container-body .scfForm {
    padding-top: 25px;
}

/* TRICK SVG SOUS IE 11 */
canvas {
    display: block;
    width: 100%;
    visibility: hidden;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* MODAL *****************************************/
.modal-header {
    background-color: #373a36;
    border-radius: 4px 4px 0 0;
}

.modal-title {
    color: #ffb81c;
}
/*
.modal-footer {
    border: none;
    margin: 0;
    padding: 0;
}
*/

.modal-footer button {
    margin: 10px;
    border: none;
    color: #FFF;
    text-transform: uppercase;
}

/* New Job search Component ***************************/

#jobResponse .job-result .job-wide .panel-header h1#txtjobCount{
	padding-bottom: 1.5rem;
    display: block;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: bold;
    border-bottom: solid 1px #dad9d9;
    font-family: Roboto,sans-serif;
}
@media (max-width: 767px){
#jobResponse .job-result .job-wide .panel-header h1#txtjobCount {
    font-size: 1rem!important;
    font-weight: normal!important;
    line-height: 1.25rem!important;
    text-align: center!important;
}
}
/* RESPONSIVE *****************************************/

@media (max-width: 767px) {
    .Home .Top-Banner-container-container .Top-Banner-container, .employer .Top-Banner-container-container .Top-Banner-container {
        background-image: url(/~/media/adeccogroup/brands/modis-new-brand/france/media/home/header_home.jpg) !important;
    }
}

@media screen and (max-width: 640px) {
    .agences-map-wrapper {
        display: none;
    }
}

.nos-offres .with-jobalert .col-xs-6{
	width:100%;
}