.action-button{

    height : 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.3rem;
    /* background: #ffb81c; */
}

.card {
    border-radius: 7px;
}

.solutions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.text {
    max-width: 300px;
    font-family:"Roboto",sans-serif;
    letter-spacing: -0.5px;
    font-size: 0.87rem;
    line-height: 1.32rem;
    text-align: center;
}

.container {
    background: linear-gradient(45deg,  rgba(255, 143, 83, 0.719) 10%, rgba(224, 192, 89, 0.685) 90%);
}

button{
    width: 200px;
    background: #394448;
    border-radius: 0.35rem;
    color:white;
}
