
<div>
  <img src="../../../assets/img/header_home.jpg" alt="Image de présentation modis">
</div>

<div class="action-button">
  <button mat-raised-button [matMenuTriggerFor]="menu">Accès libre au site</button>
  <button mat-raised-button (click)="openRegisterForm()">S'enregistrer</button>
  <button mat-raised-button (click)="openLoginForm()">Se connecter</button>
</div>


<mat-menu #menu="matMenu">
    <button mat-menu-item> <a href="/#/test">page test</a> </button>
    <button mat-menu-item><a href="/#/administrator">Administrateur</a></button>
    <button mat-menu-item><a href="/#/consulting">Consultant</a></button>
    <button mat-menu-item><a href="/#/manager">Manager</a></button>
  </mat-menu>
