<div *ngIf='user'>
<mat-card class="card">

  <mat-card-header>
    <div mat-card-avatar class="card-header-image">
      <fa name="user" size="3x"></fa>
    </div>
    <mat-card-title > {{user.lastname | capitalizefirst }}</mat-card-title>
    <mat-card-subtitle>{{user.firstname | capitalizefirst}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Informations collaborateur
    </p>

    <div class="forms-container">
      <mat-form-field>
        <input matInput placeholder="Nom" [(ngModel)]="user.lastname">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Prénom" [(ngModel)]="user.firstname">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="user.email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Téléphone" [(ngModel)]="user.phoneNumber">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ville" [(ngModel)]="user.townOfResisdence">
      </mat-form-field>

      <mat-checkbox>Référent</mat-checkbox>


    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="update();">VALIDER</button>
    <button mat-button (click)="getUserById();">FERMER</button>
  </mat-card-actions>
</mat-card>

</div>