<!--<form (submit)="loginUser($event)">
  <div class="input">
    <label>Username</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password">
  </div>
  <div class="input">
    <input type="submit" value="Login">
  </div>
</form>-->

<div class="example-container">
  <mat-form-field (submit)="loginUser($event)" >
    <input matInput placeholder="Entrer votre email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
<br>
<mat-form-field>
  <input matInput placeholder="mot de passe">
</mat-form-field><br>
<button class="button" type="submit" value="Login">Login</button>
</div>

