<footer class="page-footer footer_open">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              
              <div class="footer__top">
<div class="footer__top-inner container clearfix">
<div class="col-sm-10  footer-links">
<a href="/">Modis</a>
<div class="col-sm-3 links">
<ul>
  <li><a href="/ingenierie/">Ingénierie</a></li>
  <li><a href="/services-numeriques/">Services numériques</a></li>
  <li><a href="/sciences-de-la-vie/">Sciences de la vie</a></li>
</ul>
</div>
<div class="col-sm-3 links">
<ul>
  <li><a href="/modis-recrute/">Modis recrute</a></li>
  <li><a href="/modis-recrute/candidature-express/">Candidature express</a></li>
  <li><a href="https://groupe-france.adecco.net/modis/default.aspx" target="_blank">Espace collaborateur</a></li>
</ul>
</div>
<div class="col-sm-3 links">
<ul>
  <li><a href="/nous-contacter/">Nous contacter</a></li>
  <li><a href="/nous-trouver/">Nous trouver</a></li>
  <li><a href="/nous-decouvrir/">Nous découvrir</a></li>
</ul>
</div>
<div class="col-sm-3 links">
<ul>
  <li><a href="/plan-du-site/">Plan du site</a></li>
  <li><a href="/mentions-legales/">Mentions légales</a></li>
  <li><a href="/protection-donnees-personnelles/">Protection des données personnelles</a></li>
</ul>
</div>
</div>
<div class="col-md-2 footer-social">
<p>Social</p>
<a href="https://www.facebook.com/ModisFrance" target="_blank" data-track="facebook"><i class="icon-facebook"></i></a>
<a href="https://www.linkedin.com/company/224006/" target="_blank" data-track="linkedin"><i class="icon-linkedin-1"></i></a>
<a href="https://twitter.com/ModisFrance" target="_blank" data-track="twitter"><i class="icon-twitter"></i></a>
<div class="row">
<div class="col-md-12 footer-links">
<ul>
  <li><a href="http://www.groupe-adecco.fr/" target="_blank">The Adecco Group</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>                 
          </div>            
          <div class="col-md-12">
              <div class="disclaimer" role="contentinfo">
                  ©
                  <span>
                      2018
                  </span>
                  <span>
                      Modis
                  </span>
                  
              </div>
              <ul>
                  
              </ul>
          </div>
      </div>
  </div>
</footer>