

.footer__top .footer-links a {
    color: #FFFFFF;
    -webkit-transition: color 2s ease-in;
    -moz-transition: color 2s ease-in;
    -ms-transition: color 2s ease-in;
    -o-transition: color 2s ease-in;
    transition: color .2s ease-in;
    text-decoration:none; 
}

.footer__top .footer-links a:HOVER {
    color: white;
    text-decoration: none;
}

  /* line 58, ../sass/brand/_footer.scss */
  .page-footer .links {
    margin-top: 0.5rem;
  }
  /* line 60, ../sass/brand/_footer.scss */
  .page-footer .links a {
    font-size: 1rem;
    color: white;
    font-family: ResoLight,sans-serif;
  }
  /* line 65, ../sass/brand/_footer.scss */
  .page-footer .links a:hover, .p, .page-footer .links a:focus {
    color: white;
  }
  /* line 69, ../sass/brand/_footer.scss */
  .page-footer .links ul {
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
  }
  /* line 73, ../sass/brand/_footer.scss */
  .page-footer .links ul li {
    padding-left: 0;
    margin-bottom: 10px;
  }
  /* line 76, ../sass/brand/_footer.scss */
  .page-footer .links ul li a {
    color: #b2b2b2;
    text-decoration:none; 
  }
  /* line 79, ../sass/brand/_footer.scss */
  .page-footer .links ul li a:hover, .page-footer .links ul li a:focus {
    text-decoration:none; 
    color: white;
  }

  .flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }


  .socialicon {
    text-decoration:none; 
    color: #b2b2b2;
  }

  .row-socialicon {
    text-decoration:none; 
    color: #b2b2b2;
    padding-bottom: 15px;
    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -ms-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    transition: color .1s ease-in;
  }


  .container {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: #394448;
  }
  .page-footer .footer__top {
    padding: 30px 0;
    background: #394448;
  }

  #socio {
    color: white;
    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -ms-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    transition: color .1s ease-in;
    padding-right: 1rem;
  }

  #socio:hover {
    color: #ffb81c;
  }

  #modis {
    text-decoration:none;
    color: white;
    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -ms-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    transition: color .1s ease-in;
  }
  #modis:hover {
    color: #ffb81c;
  }




