<footer class="page-footer footer_open">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="footer__top">
                    <div class="footer__top-inner container clearfix">
                        <div class="col-sm-10  footer-links flexBox">
                            <a href="/">Modis</a>
                            <div class="col-sm-3 links">
                                <ul>
                                    <li>
                                        <a href="https://www.modisfrance.fr/ingenierie/" target="_blank">Ingénierie</a>
                                    </li>
                                    <li>
                                        <a href="https://www.modisfrance.fr/services-numeriques/" target="_blank">Services numériques</a>
                                    </li>
                                    <li>
                                        <a href="https://www.modisfrance.fr/sciences-de-la-vie/" target="_blank">Sciences de la vie</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 links">
                                <ul>
                                    <li>
                                        <a href="https://www.modisfrance.fr/modis-recrute/" target="_blank">Modis recrute</a>
                                    </li>
                                    <li>
                                        <a href="https://www.modisfrance.fr/modis-recrute/candidature-express/" target="_blank">Candidature express</a>
                                    </li>
                                    <li>
                                        <a href="https://groupe-france.adecco.net/modis/default.aspx" target="_blank">Espace collaborateur</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 links">
                                <ul>
                                    <li>
                                        <a href="https://www.modisfrance.fr/nous-contacter/" target="_blank">Nous contacter</a>
                                    </li>
                                    <li>
                                        <a href="https://www.modisfrance.fr/nous-trouver/" target="_blank">Nous trouver</a>
                                    </li>
                                    <li>
                                        <a href="https://www.modisfrance.fr/nous-decouvrir/" target="_blank">Nous découvrir</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 links">
                                <ul>
                                    <li>
                                        <a href="https://www.modisfrance.fr/plan-du-site/" target="_blank">Plan du site</a>
                                    </li>
                                    <li>
                                        <a href="https://www.modisfrance.fr/mentions-legales/" target="_blank">Mentions légales</a>
                                    </li>
                                    <li>
                                        <a href="https://www.modisfrance.fr/protection-donnees-personnelles/" target="_blank">Protection des données personnelles</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-3 links">
                                
                                <div class="row row-socialicon"><p>Social</p></div>

                                <div class="socialicon">
                                    <a href="https://www.facebook.com/ModisFrance" target="_blank" data-track="facebook">
                                        <fa name="facebook-square" size="2x"></fa>
                                    </a>
                                    <a href="https://www.linkedin.com/company/224006/" target="_blank" data-track="linkedin">
                                        <fa name="linkedin-square" size="2x"></fa>
                                    </a>
                                    <a href="https://twitter.com/ModisFrance" target="_blank" data-track="twitter">
                                        <fa name="twitter-square" size="2x"></fa>
                                    </a>
                                    <div class="row">
                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="http://www.groupe-adecco.fr/" target="_blank">The Adecco Group</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="disclaimer" role="contentinfo">
                    ©
                    <span>
                        2018
                    </span>
                    <span>
                        Modis
                    </span>

                </div>
                <ul>

                </ul>
            </div>
        </div>
    </div>
</footer>