<div class="container-content">
    <app-generic-table class="element-content" [observableDataTable]="observavleUserList" [columnsData]="COLUMNSTABLE" [actionsRow]="actionsOnUser" [actionsHeader]="actionsOnListUsers" [titleTable]="titleTableUser" [updateDatasource]="updateDataSourceUser"></app-generic-table>
    <app-generic-table class="element-content" [observableDataTable]="observavleSkillsList" [columnsData]="COLUMNSTABLESKILL" [titleTable]="titleTableSkill" 
        [actions]="true"></app-generic-table>
    <app-generic-table class="element-content"[observableDataTable]="observavleUserList" [columnsData]="table3COLUMNSTABLE" [actionsRow]="table3ActionsOnUser" [actionsHeader]="actionsOnListUsers" [titleTable]="titleTableUser" [updateDatasource]="updateDataSourceUser" ></app-generic-table>

</div>
