<div class="container-header">
  <div class="title1-modis  text-white">Nouveau compte</div>
  <div class="container-logo">
    <a href="https://www.modisfrance.fr/" target="blank">
      <img class="logo" src="../../../../../assets/logo/modis-logo.png?">
    </a>
  </div>
</div>


<br>
<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="Entrez votre nom" [formControl]="name" required>
    <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Entrez votre prénom" [formControl]="firstname" required>
    <mat-error *ngIf="firstname.invalid">{{getErrorMessageFirstname()}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Entrez votre email" type="email"   [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Entrez votre mot de passe" type="password" [formControl]="password"  
      name="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
  </mat-form-field>

  <br> 

  <mat-form-field>
    <input matInput placeholder="Confirmez votre mot de passe" type="password" [formControl]="confirmPassword" 
       name="confirmPassword" required>
    <!--<mat-error *ngIf="confirmPassword.invalid">{{getErrorMessageConfirmPassword()}}</mat-error>-->
    <mat-error *ngIf="matchPassword.invalid">{{getErrorMessagematchPassword()}}</mat-error>
  </mat-form-field>

  <br>
  <br>
  <div class="container-action">
    <button mat-raised-button [disabled]="confirmPassword.invalid || password.invalid || email.invalid || firstname.invalid || name.invalid" class="button" value="Login"  (click)="controlPassword()" (click)="saveUser()" > s'enregistrer</button>
    <span matTooltip="Enregistrement effectué" class="custom-tooltip" #tooltip="matTooltip"></span>
   
  </div>

</div>