<mat-card class="mat-elevation-z8">

    <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title class="title-menu title1-modis">
                    menu1
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="item">
                <a   class="item" href="#/consulting">test1</a>
            </div>

            <div class="item">
                test2
            </div>

            <div class="item">
                test3
            </div>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    menu2
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div>
                test1
            </div>
            <mat-divider></mat-divider>
            <div>
                test2
            </div>
            <mat-divider></mat-divider>
            <div>
                test3
            </div>
            <mat-divider></mat-divider>





        </mat-expansion-panel>
    </mat-accordion>


</mat-card>